
@{
    ViewData["Title"] = (Model == null ? "Not Found" : Model.Filename) + " | FDownl";
}

<div class="container py-3">
    <div class="text-center">
        @if (Model == null)
        {
            <h3>That file does not exist in our servers.</h3>
        }
        else
        {
            <h4 class="mb-3">@Model.Filename</h4>
            string fileExtension = System.IO.Path.GetExtension(Model.Filename);
            if (fileExtension == ".jpeg" || fileExtension == ".jpg" || fileExtension == ".png"
                || fileExtension == ".gif")
            {
                <div>
                    <img class="mw-100 mb-3" src="https://@(Model.Hostname)/@(Model.RandomId)-@(Model.Filename)" alt="">
                </div>
            }
            else if (fileExtension == ".mp3" || fileExtension == ".wav")
            {
                <div>
                    <audio class="mw-100 mb-3" src="https://@(Model.Hostname)/@(Model.RandomId)-@(Model.Filename)" controls>
                        Your browser doesn't support HTML5 audio.
                    </audio>
                </div>
            }
            else if (fileExtension == ".mp4")
            {
                <div>
                    <video class="mw-100 mb-3" controls>
                        <source src="https://@(Model.Hostname)/@(Model.RandomId)-@(Model.Filename)" type="video/mp4" />
                        Your browser doesn't support HTML5 video.
                    </video>
                </div>
            }
            <a id="download-button" class="btn btn-outline-dark" href="https://@(Model.Hostname)/@(Model.RandomId)-@(Model.Filename)">Download File</a>
        }
        @ViewData["DisplayFile"]
    </div>
</div>
