@page

@{
    ViewData["Title"] = "FAQ";
}

<div class="container py-3" style="margin-bottom: 80px">
<div>
    <h4 class="text-center">Frequently Asked Questions</h4>
    <hr />
    <div>
        <p><span class="font-weight-bold">Q: </span>What is the upload size limit?</p>
        <p><span class="font-weight-bold">A: </span>It is currently 50MB but we are planning to increase it soon.</p>
        <p><span class="font-weight-bold">Q: </span>What makes this platform unique?</p>
        <p><span class="font-weight-bold">A: </span>While sharing image, audio or video files there is no need for users to download them. This is possible because we provide a preview of the requested file.</p>
    </div>
</div>
</div>