@page

@{
    ViewData["Title"] = "Sponsors";
}

<div class="container py-3" style="margin-bottom: 80px">
    <div>
        <h4 class="text-center">Sponsors</h4>
        <hr />
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img src="/img/imaginaryctf.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">ImaginaryCTF</h5>
                        <p class="card-text">A platform where CTF challenges are released daily and you can compete with others to reach the top of the leaderboard.</p>
                        <a href="https://imaginaryctf.org" target="_blank" class="btn btn-primary mb-2 me-2">Visit their site</a>
                        <a href="https://discord.gg/vReKWNxPuE" target="_blank" class="btn btn-secondary mb-2">Join their Discord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>