@page

@{
    ViewData["Title"] = "Sponsors";
}

<div class="container py-3" style="margin-bottom: 80px">
    <div>
        <h4 class="text-center">Sponsors</h4>
        <hr />
        <div class="row">
            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-4">
                <div class="text-center">
                    <h5>[sqrt(-1) + 1] CTF Server</h5>
                    <p class="mb-2">A discord server where CTF challenges are released daily and you can compete with others to reach the top of the leaderboard.</p>
                    <a href="https://discord.gg/vReKWNxPuE" target="_blank">Join this server</a>
                </div>
            </div>
        </div>
    </div>
</div>