@page

@{
    ViewData["Title"] = "Support Us";
}

<div class="container py-3" style="margin-bottom: 80px">
    <div>
        <h4 class="text-center">Support Us</h4>
        <hr />
        <p>We are glad to know you want to support us! Currently there are only two payment methods available but we will eventually add more in the future.</p>
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Using Paypal</h5>
                <div>
                <a class="btn btn-outline-dark mt-2" target="_blank" href="https://www.paypal.com/donate/?cmd=_donations&business=user17%40fdownl.ga&item_name=Support+this+awesome+app%21&currency_code=USD" style=" border-radius: 50px; border-width: 3px; font-weight: bold;">Support Us!</a>
                </div>
            </div>
            <div class="col-md-8">
                <h5 class="mb-3">Using Cryptocurrencies</h5>
                <p class="text-break"><b>Bitcoin (BTC) wallet: </b>bc1qdsdgyf0lrzrqfea5km4udal6nwyde3lm9f3k2a</p>
                <p class="text-break"><b>Ethereum (ETH) wallet: </b>0x57e964311bB5E219E905fA905ADEe3a02EBbdc29</p>
                <p class="text-break"><b>Tether (USDT) wallet: </b>0x57e964311bB5E219E905fA905ADEe3a02EBbdc29</p>
            </div>
        </div>
    </div>
</div>