h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.spaced {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.bigger-text {
    font-size: 1.1rem;
}

.nav-item {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.cursor-pointer {
    cursor: pointer;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

ul {
	list-style-type: square;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.cool-link {
    border-bottom: 1px solid;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Itim', sans-serif !important;
}

#selectedFiles {
    max-height: 22em;
    overflow-x: hidden;
}

/* Mcdultii stuff */

#selectedFiles :last-child img {
    width: 15%;
    max-width: 300px;
    float: left;
    padding: 10px;
}

input {
    overflow: auto;
}

#page-mask {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#drop-area {
    /* For mobile: */
    border-radius: 20px;
    margin: 50px auto;
    margin-top: 0;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;

    border: 2px dashed;
    width: 80%;
    height: 70%;
    padding: 20px;
    background-color: inherit;
    min-height: 200px;
}

#drop-area.highlight {
    border-color: purple;
}

#file-selection {
    display: none;
}

#progress-wrp {
    display: none;
    border: 1px solid;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background-color: inherit;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#progress-wrp .progress-bar {
    height: 100%;
    border-radius: 2px;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
    top: 2.5px;
    width: 100%;
    text-align: center;
    position: absolute;
    display: inline-block;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 1em;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

hr {
    margin-left: 0;
    border-width: 3px;
    border-radius: 10px;
    border-color: currentColor;
}

.remove-file-btn {
    font-weight: bold;
    border-width: 2px;
    margin-left: auto;
}

.file-text{
    line-height: 30px;
}

.highlighting {
    height: 70vh;
    text-align: left;
    overflow: scroll;
}

.prettyprint {
    overflow: unset !important;
    border: 0 !important;
}

#file-selection {
    background-color: inherit !important;
    border: 0 !important;
}

.list-group li {
    background-color: inherit !important;
    border: 2px solid !important;
    border-bottom: 0 !important;
}

.list-group li:last-child {
    border-bottom: 2px solid !important;
}

#progress-wrp .status span {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
}

.gold-glow {
    color: gold !important;
    text-shadow: 0 0 5px;
}